.button_container {
  padding: 10px;
  margin: 10px;
  width: 95vw;
  text-align: center;
}
.background {
  height: 50px;
  width: 90vw;
  border-radius: 10px;
  /* padding: 10px ; */
}

.filter_container {
  background-color: #23416A;
  width: 90vw;
  height: 80px;
  border-radius: 10px;
  margin: 20px;
  padding-top: 10px;
}


.paragraph {
    font-size: small;
    text-align: center;
}

.filter_icon {
    height: 20px;
    margin-right: 10px;
    margin-bottom: 15px;

}
.options_container {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: baseline;
}


@media (max-width: 1440px) and (min-width: 501px) {
  .company_logo {
    height: 100px;
    padding: 10px;
  }
  .nav_icon {
    height: 20px;
    margin: 20px;
    /* padding: 20px; */
  }

  .top-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */

  }
}